* {
    font-family: 'poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;;
    background-repeat: no-repeat;
    color: black;
}

body::-webkit-scrollbar {
    width: .9rem;
}

body::-webkit-scrollbar-track {
    background: #f3f3ec;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(#191b1b, #eb7e95);
    border-radius: 10px;
}