* {
    font-family: 'Lato';
    /* outline: solid 1px red; */
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;;
    background-repeat: no-repeat;
    color: black;
}

body::-webkit-scrollbar {
    width: .9rem;
}

body::-webkit-scrollbar-track {
    background: #f3f3ec;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(#8abbb1, #c0dbbd);
    border-radius: 10px;
}