* {
    font-family: 'poppins', san-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    ;
    background-repeat: no-repeat;
    color: black;
}

body::-webkit-scrollbar {
    width: .9rem;
}

body::-webkit-scrollbar-track {
    background: #f3f3ec;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(#191b1b, #eb7e95);
    border-radius: 10px;
}

/* Styles for mobile screens */
@media only screen and (max-width: 600px) {
    .sidebar {
        display: none;
        /* Hide the sidebar on mobile screens */
    }
}