/* Adjustments for sidebar */
.drawer {
  width: 250px; /* Set the width of the sidebar */
}

.drawer-paper {
  width: 250px; /* Set the width of the sidebar */
  background-color: #f3f3f3; /* Match the background color of the main container */
}

.list-item-text {
  color: #5F46F8; /* Match the text color of other elements */
}

/* Keep the existing styling for .reviews-container, .reviews-content, etc. */
.reviews-container {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.reviews-content {
  max-width: 800px;
  width: 100%;
  margin: 50px;
}

.reviews-title {
  text-align: center;
  margin-bottom: 20px;
  color: #5F46F8; 
}

.reviews-search {
  margin-bottom: 20px;
  width: 100%;
}

.reviews-transition-group {
  display: flex;
  flex-wrap: wrap;
}

.review-card {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #eb7e95; 
}

.review-username {
  color: #eb7e95;
}

.review-text {
  color: #5F46F8; 
}

.review-date {
  color: black;
}

.no-matching-reviews {
  text-align: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
