/* Adjustments for sidebar */
.list-item-text {
  color: #5F46F8;
}

.reviews-container {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.reviews-content {
  max-width: 800px;
  width: 100%;
  margin: 30px;
}

.reviews-title {
  text-align: center;
  margin-bottom: 20px;
  color: #5F46F8;
}

.reviews-search {
  margin-bottom: 20px;
  width: 100%;
}

.reviews-transition-group {
  display: flex;
  flex-wrap: wrap;
}

.review-card {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #eb7e95;
}

.ticket-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-icon {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  background-image: url('https://www.w3schools.com/howto/img_avatar.png');
  /* Add this line */
  background-size: cover;
  /* Ensure the image covers the entire element */
  background-position: center;
  /* Center the image */
  border-radius: 50%;
  margin-right: 10px;
}

.review-username {
  color: #5F46F8;
  font-size: 1.2rem;
}

.review-text {
  color: black;
  font-size: 1.5rem;
}

.ticket-footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.review-date {
  color: black;
}

.review-status {
  color: #eb7e95;
}

.no-matching-reviews {
  text-align: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}